.benefits {
  padding: 60px 0px;
  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: getBreakpoint('tablet')) {
      display: flex;
      flex-direction: row;
      row-gap: 30px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media screen and (min-width: getBreakpoint('desktop')) {
      padding: 94px 0px;
      flex-wrap: nowrap;
      column-gap: 30px;
    }
  }
  &__item {
    fill: currentColor;

    @media screen and (min-width: getBreakpoint('tablet')) {
      width: 338px;
      column-gap: 30px;
    }

    @media screen and (min-width: getBreakpoint('desktop')) {
      width: auto;
    }
  }
  &__subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 2;
    color: getColor('main-color');
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (min-width: getBreakpoint('tablet')) {
      text-align: left;
      font-size: 18px;
    }
    @media screen and (min-width: getBreakpoint('desktop')) {
      text-align: left;
      font-size: 18px;
    }
  }
  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: getColor('light-grey');
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background: getColor('second-background-color');
    border-radius: 4px;
  }
}
