.clients {
  // display: flex;
  // column-gap: 30px;
  // padding-top: 94px;
  // padding-bottom: 94px;
  @media screen and (min-width: getBreakpoint('desktop')) {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    margin-top: 60px;
    margin-bottom: 30px;
    // margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    // font-size: 36px;
    line-height: 1.2;
    color: getColor('main-color');
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      &.clients__item {
        border: 1px solid getColor('second-color');

        & > .clients__icon {
          fill: getColor('second-color');
        }
      }
    }
  }
}

.clients__list {
  & > li > a {
    width: 210px;

    @media screen and (min-width: getBreakpoint('tablet')) {
      width: 226px;
    }

    @media screen and (min-width: getBreakpoint('desktop')) {
      width: 170px;
    }
  }
}
