.team {
  background-color: getColor('second-background-color');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 94px;
  padding-bottom: 94px;
  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: color('main-color');
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    @media screen and (min-width: getBreakpoint('tablet')) {
      display: flex;
      flex-direction: row;
      row-gap: 30px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (min-width: getBreakpoint('desktop')) {
      justify-content: space-between;
      column-gap: 30px;
    }
  }
  &__item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 30px;

    @media screen and (min-width: getBreakpoint('tablet')) {
      width: 354px;
    }

    @media screen and (min-width: getBreakpoint('desktop')) {
      width: auto;
    }
  }
}

.team__image {
  width: 100%;

  @media screen and (min-width: getBreakpoint('desktop')) {
    max-width: 270px;
  }
}

.team-person {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 0.8;
    letter-spacing: 0.03em;

    color: getColor('main-color');
    margin-bottom: 10px;
  }
  &__profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: getColor('light-grey');
  }
}

// .socials__icon:hover > .socials__link {
//   fill: getColor('white-color');
// }

// .socials__icon:focus > .socials__link {
//   fill: getColor('white-color');
// }

.socials {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  column-gap: 10px;
  padding-top: 16px;
  &__icon {
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 50%;

    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: getColor('second-color');
    }
    &:hover > .socials__link,
    &:focus > .socials__link {
      fill: getColor('white-color');
    }
  }
  &__link {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
